body{
    margin: 0;
}

HTML{
    scroll-behavior: smooth;
    background-image: linear-gradient(#3f2525, black);
}


/* Text animation */
.hidden{
    opacity: 0;
    transition: ease 1.8s;
    transform: translateY(50%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}




#background{
    height: 900px;   
}
#background1{
    margin-top: -1.3em;
    padding: 11em;
}
#background2{
    height: 600px;
    margin-top: -1em;
    position: relative;
}





@media screen and (min-width: 1000px) {
    /* Nav / forside */
    /* #Home h1{
        color: #FFD4B5;
    }
    
    .nav{
        display: flex;
        justify-content: center;
        gap: 22px;
    }
    
    .nav a{
        text-decoration: none;
        color: #FFD4B5;
    }
    
    .nav-box{
        display: flex;
        justify-content: space-between;
        margin-right: 3em;
        margin-left: 3em;
        margin-bottom: -0.6em;
    }
    .nav-box h1{
        color: #FFD4B5;
        font-size: 30px;
        margin-top: 0.3em;
    }
    .nav h2{
        margin-top: 1em;
    } */

    .lilo{
        text-align: start;
        margin-left: 2em;
        line-height: 26px;
    }
    .lilo p{
        color: #FFD4B5;
        margin-top: -1.5em;
        letter-spacing: 2px;
    }
    #box h2{
        font-size: large;
        border-style: solid;
        width: 10em;
        padding: 5px;
        margin: auto;
        border-radius: 40px;
    }
    
    #box{
        text-align: center;
        color: #FFD4B5;
    }
    
    #box h1{
        font-size: 9em;
        margin-top: -2em;
        font-family: fantasy;
    }
    #box p{
        color: #FFD4B5;
        font-size: 15em;
        margin-top: 0.5em;
        font-family: fantasy;
    }


    span{
        font-size: 40px;
    }



    /* SoMe */
    .SoMe{
        position: fixed;
        display: grid;
        left: 1em;
        top: 20em;
        padding: 20px;
    }
    .SoMe a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        background-color: black;
        padding: 15px;
        margin-bottom: 22px;
        border-radius: 50%;
        border-style: solid;
        border-color: white;
    }
    h2{
        color: white;
    }





    /* Resume */
    .resume{
        border-top: #FFD4B5 1px solid;
        border-bottom: #FFD4B5 1px solid;
        text-align: center;
        padding: 20px;
        width: 80%;
        margin: auto;
    }
    h1{
        color: #FFD4B5;
    }
    img{
        width: 30%;
    }

    #Experience{
        color: #FFD4B5;
    }

    .Experience{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 34em;
        margin: auto;
    }




    /* About */
    .About h1{
        position: absolute;
        color: #FFD4B5;
        top: 2em;
        font-size: 40px;
        left: 8.3em;
    }

    .About hr{
        position: absolute;
        width: 15%;
        top: 10em;
        left: 15em;
        color: #FFD4B5;
    }
    .About p {
        position: absolute;
        color: #FFD4B5;
        top: 13em;
        left: 15em;
    }




    /* Contact */
    #background3 h1{
        text-align: end;
        font-size: 15em;
        font-family: fantasy;
        padding: 31px;
        margin-top: 0;
        margin-bottom: 0;
    }

}    
