body{
    margin: 0;
}

HTML{
    scroll-behavior: smooth;
    background-image: linear-gradient(black, #352626);
}


/* Text animation */
.hidden{
    opacity: 0;
    transition: ease 1.8s;
    transform: translateY(50%);
    filter: blur(5px);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}



/* Background */
/* #background{
    height: 169px; 
    background-image: url(images/profil2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -17px;
} */

#background2{
    height: 600px;
    margin-top: 6em;
    position: relative;
}



/* Phone */
h3,
p,
h1,
h2,
a{
    color: #FFD4B5;
}

#box h1{
    font-size: 35px;
    text-align: center;
    margin-top: 61px;
}

#box p {
    font-size: 9px;
    margin-top: -20px;
}

/* Scroll to get started */
#box h2{
    color: #FFD4B5;
    text-align: center;
    font-size: 10px;
    border-style: solid;
    border-color: #ffd4b5;
    width: 23%;
    margin: auto;
    padding: 5px;
    border-radius: 9px;
    margin-top: -14px;
}

/* About */
.About hr{
    width: 50%;
}
.About h1{
    text-align: center;
    margin-bottom: 0;
}
.About p{
    padding: 10px;
}


/* Resume */
#background1{
    margin-top: -1.3em;
    padding: 10px;
}
.resume h2{
    color: white;
}
#VSC {
    width: 10%;
}
#CSS {
    width: 10%;
}    
#Js {
    width: 10%;
}
#HTML {
    width: 10%;
}
#REACT {
    width: 10%;
}
#Ps {
    width: 10%;
}
#Id {
    width: 10%;
}
#Ai {
    width: 10%;
}
#Asana {
    width: 10%;
}
#Figma {
    width: 10%;
}
#Blender {
    width: 10%;
}




/* Projekter */
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.3, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon{
    background: black;
    color: white;
    border-radius: 65%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px;
    margin-left: 20px;
}

.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 140px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s ;
    transition: all .3s ease;
}

.description p {
    color: black;
    padding-top: 5px;
}

.description h4{
    text-transform: uppercase;
    color: black;
}

.description a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: black;
    padding: 5px;
    width: 19%;
    text-align: center;
    border-radius: 4px;
}

input{
    display: none;
}

input:checked + label{
    width: 600px;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"]{
    background-image: url('images/PNG/CA.png');
}
.card[for="c2"]{
    background-image: url('images/PNG/Vahlwood.png');
}
.card[for="c3"]{
    background-image: url('images/PNG/vildmad.png');
}
.card[for="c4"]{
    background-image: url('images/PNG/todolist.png');
}




/* contact */
#iphone{
    width: 8%;
}
#mail{
    width: 10%;
    padding: 3%;
    margin-bottom: 8px;
}
.SoMe{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: -1em;
}
.SoMe a {
    background-color: black;
    padding: 11px;
    height: 20px;
    rotate: 45deg;
    border-style: solid;
    border-color: #ffD4B5;
    border-radius: 8px;
    text-decoration: none;
}
.SoMe p{
    color: #ffD4b5;
    rotate: -45deg;
    margin-top: 0em;
}
.SoMe-Contact h1{
    color: white;
    font-size: 30px;
    text-align: center;
} 

.contact-info{
    display: flex;
    justify-content: center;
}

#contact-info p{
    margin-top: 18px;
    margin-left: 12px;
} 
.p{
    margin-left: 0px;
}

#contact-container .hr, .hr2{
    width: 55%;
}

.hr2 {
    margin-top: -10px;
}

















/* Desktop */
@media screen and (min-width: 1000px) {
    #background{
        height: 875px; 
        background-image: url(images/profil2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -17px;
    }
    .lilo{
        text-align: start;
        line-height: 26px;
        padding: 27px;
    }
    .lilo h3{
        text-align: start;
        line-height: 26px;
        color: #FFD4B5;
    }
    .lilo p{
        color: #FFD4B5;
        margin-top: -1.5em;
        letter-spacing: 2px;
    }
    #box h2{
        font-size: large;
        border-style: solid;
        width: 10em;
        padding: 5px;
        margin: auto;
        border-radius: 40px;
    }
    
    #box{
        text-align: center;
        color: #FFD4B5;
    }
    
    #box h1{
        font-size: 9em;
        margin-top: 3.5em;
        font-family: fantasy;
        margin-bottom: 15px;
        color: #FFD4B5;
    }
    span{
        font-size: 40px;
    }



    /* SoMe */
    /* .SoMe{
        position: fixed;
        display: grid;
        left: 1em;
        top: 20em;
        padding: 20px;
    }
    .SoMe a{
        text-decoration: none;
        color: #FFD4B5;
        font-size: 20px;
        background-color: black;
        padding: 15px;
        margin-bottom: 22px;
        border-radius: 50%;
        border-style: solid;
        border-color: #FFD4B5;
    }
    h2{
        color: #FFD4B5;
    } */





    /* Resume */
    #background1{
        margin-top: -1.3em;
        padding: 11em;
    }
    .resume{
        border-top: #FFD4B5 1px solid;
        border-bottom: #FFD4B5 1px solid;
        text-align: start;
        padding: 20px;
        width: 80%;
        margin: auto;
    }
    h1{
        color: white;
        font-size: 40px;
        text-align: center;
    }
    .CV{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 78px;
        margin-left: 4em;
    }

    hr{
        width: 64%;
        margin-left: 56px;
        margin-top: 0;
    }
    p{
        color: #FFD4B5;
        margin-top: -17px;
        line-height: 25px;
    }
    .hidden h2{
        color: white;
    }

    /* Resume skills img */
    img{
        width: 75%;
        margin-bottom: -1.5em;
    }
    .img-skills{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20%;
    }

#VSC {
    width: 80%;
}
#CSS {
    width: 130%;
}    
#Js {
    width: 50%;
}
#HTML {
    width: 110%;
}
#REACT {
    width: 50%;
}
#Ps {
    width: 50%;
}
#Id {
    width: 50%;
}
#Ai {
    width: 110%;
}
#Asana {
    width: 80%;
}
#Figma {
    width: 120%;
}
#Blender{
    width: 80%;
}


    /* About */
    .About h1{
        position: absolute;
        color: #FFD4B5;
        top: 2em;
        font-size: 40px;
        left: 8em;
    }

    .About hr{
        position: absolute;
        width: 66%;
        top: 10em;
        left: 16em;
    }
    .About p {
        position: absolute;
        color: #FFD4B5;
        top: 7em;
        left: 11em;
        font-size: 30px;
    }





/* Projekter */
.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.3, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .icon{
    background: black;
    color: white;
    border-radius: 65%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 82px 48px 10px 20px;
}

.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 140px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s ;
    transition: all .3s ease;
}

.description p {
    color: black;
    padding-top: 5px;
}

.description h4{
    text-transform: uppercase;
    color: black;
}

.description a{
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: black;
    padding: 5px;
    width: 19%;
    text-align: center;
    border-radius: 4px;
}

input{
    display: none;
}

input:checked + label{
    width: 600px;
}

input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}







/* SoMe / Contact */
#contact-container{
    text-align: center;
}
#SoMe-Contact{
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
    margin-top: 5em;
}
#contact-container .hr, .hr2{
    margin-left: 200px;
    margin-top: -12px;
}
.contact-info{
    display: block;
}
.contact-info p{
    margin-left: 0;
}
.contact-info .p{
    margin-left: 90px;
}

#iphone{
    width: 4%;
    margin-right: 176px;

}

#mail{
    width: 6%;
    margin-right: 175px;
    padding: 10px;
    margin-bottom: -24px;
}
.SoMe{
    display: flex;
    height: 48px;
    gap: 20px;
}
 
.SoMe a{
    background-color: black;
    padding: 12px;
    border-style: solid;
    border-radius: 8px;
    text-decoration: none;
    rotate: 45deg;
}

.SoMe p{
    margin-top: -3px;
    rotate: -45deg;
}

}